:root {
  --white: #fff;
  --black: #000;
}

.bg-video {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;

  position: absolute;
  z-index: -2;
}

.bg-video .video {
  /* width: 100vw; */
  height: 100vh;
}

.bg-video::after {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  position: absolute;
}

.container {
  height: 100vh;
  z-index: 3;

  display: flex;

  position: relative;
}

/* Left */

.container__left {
  width: 35%;
  min-width: 1.875rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.score_box {
  background-color: var(--white);
  padding: 1.875rem;
}

.frame {
  border: 3px solid var(--black);
  border-radius: .3125rem;
}

.card_details {
  width: 100%;
  height: 6rem;
  padding: 1rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  background-color: var(--white);
}

#card-name {
  font-size: 0.8rem;
}

#card-type {
  font-size: 1rem;
}

/* Right */

.container__right {
  width: 65%;
}

.card-box__container {
  height: 100vh;
  padding: .3rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#computer-cards,
#player-cards {
  width: 100%;
  height: 9rem;

  padding: 0 6rem;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-versus__container {
  height: 18.75rem;
  margin-top: 2rem;
  padding-top: .1rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.versus-top,
.versus-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.versus-bottom {
  margin-top: 1rem;
}

#next-duel {
  display: none;
}

.card-box {
  width: 100%;
  height: 9rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-infield {
  width: 8rem;
  height: 11.2rem;

  border: 1px solid var(--white);
  border-radius: 0.5rem;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.2);
}